alembic==1.13.3
amqp==5.2.0
aniso8601==9.0.1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
attrs==24.2.0
billiard==4.2.1
blinker==1.8.2
celery==5.4.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
coverage==7.6.4
cryptography==43.0.3
dnspython==2.7.0
dynaconf==3.2.6
email_validator==2.2.0
factory_boy==3.3.1
Faker==30.8.2
Flask==3.0.3
Flask-Login==0.6.3
Flask-Mailman==1.1.1
Flask-Migrate==4.0.7
flask-restx==1.3.0
Flask-SQLAlchemy==3.1.1
flower==2.0.1
gevent==24.10.3
greenlet==3.1.1
gunicorn==23.0.0
humanize==4.11.0
idna==3.10
importlib_resources==6.4.5
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kombu==5.4.2
lxml==5.3.0
Mako==1.3.6
MarkupSafe==3.0.2
numpy==2.1.3
packaging==24.1
pluggy==1.5.0
prometheus_client==0.21.0
prompt_toolkit==3.0.48
psycopg2-binary==2.9.10
pycparser==2.22
pytest==8.3.3
pytest-cov==6.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pythonwebtools==0.1.9
pytz==2024.2
referencing==0.35.1
requests==2.32.3
rpds-py==0.20.1
six==1.16.0
SQLAlchemy==2.0.36
tornado==6.4.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
vine==5.1.0
wcwidth==0.2.13
Werkzeug==3.1.1
zope.event==5.0
zope.interface==7.1.1
